/* logan kim started: 11-10-17*/
.browse {
	 margin-top: 50px;
	 background-color: #F4C2C2;
	 text-align: center;
    background-image: url('http://33.media.tumblr.com/tumblr_m7c381iHn41qiq1olo1_500.gif');
    border: 100px;

}

.home {
	background-image: url(https://data.whicdn.com/images/287290280/original.gif);
}


* {
	font-family: 'Press Start 2P', cursive;
	
}

.banner {
	background: #ffe5e5;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

ul li {
    background: #ffe5e5;
    padding: 2px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
     list-style:none;
    list-style-type:none;
    text-align: center;
 }


.footer {
	margin-bottom: 0px;
	margin-top: 500px;
	font-size: 11pt;
	padding: 10px;
	background: #ffe5e5;
	text-align: center;
}

.button1 {
	margin-left: 300px;
	background-color: #ffe5e5;
}

.money {
	background-image: url(https://i.pinimg.com/originals/be/d2/6a/bed26a010a1dd2e1eb1e55b28744e561.gif);
}

.pp {
text-align: center;
}

.button2 {
	margin-left: 550;
	background-color: #ffe5e5;
}

.button3 {
	    margin-left: 550px;
    margin-right: 400px;
	text-align: center;
	background-color: #ffe5e5;
}

.thanks {
	background-image: url(https://i.pinimg.com/originals/92/1b/af/921baf5e9ba06fc332c9b87faae526c2.jpg);
}

.tyletter {
	font-size: 15px;
	text-align: center;
	padding: 20px;
	background: #ffe5e5;
	margin-top: 200px;
}

.headerty {
	font-size: 40px;
	text-align: center;
	padding: 20px;
	background: #ffe5e5;
	margin-top: 200px;
}

.button5 {
	margin-left: 480;
	margin-top: 300px;
	margin-bottom: 2px;
	background-color: #ffe5e5;
}